.poll {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  background-color: rgb(148, 148, 148);
  border-radius: 3px;
  align-items: center;
  color: rgb(161, 26, 22);
  font-weight: 600;
  font-size: 24px;


  &-number {
    flex: 1;
    line-height: 40px;
    text-align: center;
  }

  &-name{
    flex: 17;
    line-height: 40px;
  }

  &-date {
    flex: 2;
    line-height: 40px;
  }

  &-control {
    display: flex;
    margin: 5px;
    button {
      border: none;
      background-color: inherit;
      cursor: pointer;
    }
  }

  &-stats {
    background-color: #a11a16 !important;

  }
}
