.header {
  display: flex;
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #a11a16;

  &-item {
    display: flex;
    align-items: center;
  }

  &-logo {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid white;
    margin: 5px;

    &-img {
      width: 55px;
      height: 55px;
    }
  }

  &-title {
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }
}
