.shedule {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  &-control {
    display: flex;
    justify-content: space-between;
  }

  
}

.week-control {
  display: flex;

  .week-title {
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    color: #C4C4C4;

    &--selected {
      color: #A11A16;
    }
  }
}

.course-control {
  display: flex;
  align-items: center;
  margin-left: 35px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;

  color: #a11a16;
}
