.practice {
  

  &-button {
    flex: 1;
    border: none;
    background-color: #949494;
    outline: none;
    color: rgb(161, 26, 22);
    font-size: 18px;
    font-weight: 700;
    transition: all 0.25s ease-out;
    cursor: pointer;
  }

  &-buttonActive {
    background-color: white;
    border-bottom: none;
    font-size: 22px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  &-header {
    height: 40px;
    display: flex;
    background-color: #949494;
  }

  &-content {
    padding: 10px;
  }
}